:root {
    --main-color: #3758d2;
    --second-color: #3149a4;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .main_signUp{
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      padding: 15px;
      border-radius: 5px;
      background-color: rgb(245 245 245 / 88%);
  }
  .submit_btn{
      background: #00f022;
      color: #fff;
      font-weight: 500;
      letter-spacing: 1.5px;
      padding: 6px 25px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  
  .list__style__customer{
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 8px;
      width: 99%;
      margin: 3px;
      border: 1px solid rgb(208, 207, 207);
  }
  .list__style__customer:nth-child(even){
      background-color: rgb(238, 238, 238);
  }
  
  .order__list{
      max-height: 300px !important;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: #ffffffcf;
      list-style-type: disc;
      padding: 30px;
      border-radius: 5px;
  }
  
  
  
  .width__100{
      width: 100%;
  }
  
  .regiter_heading_h{
      text-align: center;
      color: var(--second-color);
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #79a
  }
  .regiter_heading_main{
      text-align: center;
      color: var(--second-color);
      text-transform: uppercase;
      /* text-shadow: 2px 2px 2px #79a */
  }
  hr{
      margin: 0.5rem 0 !important;
  }
  .back_sign__{
      background-image: url(../images/sign__.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 58% 55%;
  }
  .main_signUp label{
      font-weight: 600;
  }
  .login__{
      height: 100vh;
      display: flex;
      align-items: center;
  }
  .signUp_btn{
      background: var(--main-color);
      color: #fff;
      font-weight: 500;
      letter-spacing: 1.5px;
      padding: 6px 25px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  
  
  .big-image {
      height: 500px;
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url(../images/banner_land_apy.png);
    }
    
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.65);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .banner_second{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .card_container{
      box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,.05), 0 0.2rem 0.8rem 0.3rem rgba(0,0,0,.03), 0 0.2rem 1.6rem 0.6rem rgba(0,0,0,.05);
      background-color: #fff;
      padding: 20px;
      border-radius: 0px 20px 0px 20px;
      
    }
    .card_register_btn{
      border: 0.0625rem solid #de162b;
      background-color: #de162b;
      color: #fff;
    }
  
  
    ul {
      margin: 0px;
      padding: 0px;
  }
  .footer-section {
    background: var(--main-color);
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #fff;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--second-color);
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: var(--second-color);
  }
  .footer-widget ul li a {
    color: #fff;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #fff;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: var(--second-color);
      padding: 13px 20px;
      border: 1px solid var(--second-color);
      top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: var(--second-color);
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: var(--second-color);
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  
  
  
  
  /* ADVERTISERS SERVICE CARD */
  body {
      font-family: "Roboto", sans-serif !important;
    }
    
    .sec-icon {
      position: relative;
      display: inline-block;
      padding: 0;
      margin: 0 auto;
    }
    
    .sec-icon::before {
      content: "";
      position: absolute;
      height: 1px;
      left: -70px;
      margin-top: -5.5px;
      top: 60%;
      background: #333333;
      width: 50px;
    }
    
    .sec-icon::after {
      content: "";
      position: absolute;
      height: 1px;
      right: -70px;
      margin-top: -5.5px;
      top: 60%;
      background: #333;
      width: 50px;
    }
    
    .advertisers-service-sec {
      background-color: #f5f5f5;
    }
    
    .advertisers-service-sec span {
      color: rgb(121 164 113);
    }
    
    .advertisers-service-sec .col {
      padding: 0 1em 1em 1em;
      text-align: center;
    }
    
    .advertisers-service-sec .service-card {
      width: 100%;
      height: 100%;
      padding: 2em 1.5em;
      border-radius: 5px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: 0.5s;
      position: relative;
      z-index: 2;
      overflow: hidden;
      background: #fff;
    }
    
    .advertisers-service-sec .service-card::after {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(var(--main-color), rgb(121 164 113));
      position: absolute;
      left: 0%;
      top: -98%;
      z-index: -2;
      transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
    }
    
    .advertisers-service-sec h3 {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 600;
      color: #1f194c;
      margin: 1em 0;
      z-index: 3;
    }
    
    .advertisers-service-sec p {
      color: #575a7b;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0.03em;
      z-index: 3;
    }
    
    .advertisers-service-sec .icon-wrapper {
      background-color: #2c7bfe;
      position: relative;
      margin: auto;
      font-size: 30px;
      height: 2.5em;
      width: 2.5em;
      color: #ffffff;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transition: 0.5s;
      z-index: 3;
    }
    
    .advertisers-service-sec .service-card:hover:after {
      top: 0%;
    }
    
    .service-card .icon-wrapper {
      background-color: #ffffff;
      color: rgb(255, 23, 131);
    }
    
    .advertisers-service-sec .service-card:hover .icon-wrapper {
      color: #0dcaf0;
    }
    
    .advertisers-service-sec .service-card:hover h3 {
      color: #ffffff;
    }
    
    .advertisers-service-sec .service-card:hover p {
      color: #f0f0f0;
    }
    /* ADVERTISERS SERVICE CARD ENDED */
  
    .cont_card{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      padding: 10px;
      border-radius: 10px;
      background-color: #ffffff3d;
      color: #fff;
    }
    /* -----Checkbox--div------- */
    .bank_select_divv{
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
      background-color: #ffffffcf;
      padding: 10px;
      border-radius: 5px;
      height: 330px;
      overflow-y: auto;
    }
    .state_city_span{
      color: var(--second-color);
    }
  
    /* -----News__Page---- */
  @import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  .news_card_section{
    background: linear-gradient(17deg, rgb(87 147 234 / 68%) 18%, rgba(255,255,255,0.9948354341736695) 52%, rgb(34 108 195 / 54%) 80%);
  }
  .card_Main{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Tinos', serif;
  
  }
  .card_Main:hover{
    transform: scale(1.06);
  
  }
  
  .card__survey_main{
      position: absolute;
      top: 43%;
      left: 38%;
  }
    .slider_image__{
      height: 400px;
    }
    /* --who--we--are----start--- */
    .nav-item .nav__item_btn{
      width: 100%;
      padding: 12px;
      font-size: 20px;
      border: 1px solid var(--main-color);
      color: var(--main-color);
    }
    .nav-pills .nav-link.active{
      background-color: var(--main-color)
    
    }
    .our_product_sub_ul_main .first_ul{
      margin-left: 20px;
    }
    .our_product_sub_ul_main .second_ul{
      margin-left: 20px;
    }
    .our_product_sub_main{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    /* --who--we--are----end--- */
    
    /* ---Survey-Modal-Start---- */
    .modal_header_cus{
      background: linear-gradient(var(--main-color), var(--second-color));
      color: #fff;
    }
    .survey_submit_btn{
      background: linear-gradient(var(--main-color), var(--second-color));
        color: #fff;
        padding: 6px 40px;
        transition: 0.3s ease-in;
    }
    .survey_submit_btn:hover{
      background: linear-gradient(var(--second-color),var(--main-color));
        color: #fff;
    }
    /* ---Survey-Modal-Start---- */
    .request_heading{
      font-weight: 600;
      color: var(--main-color);
      text-shadow: 1px 2px 2px var(--second-color);
    }
    .header_brand_heading{
      color: var(--main-color) !important;
    }
    .footer_brand_heading{
      color: #fff !important;
    }


    /* //////////////////////////////////////// */
    /* //////////////////////////////////////// */
    /* //////////////////////////////////////// */

    .card {
        border:none;
        padding: 10px 50px;
      }
      .card_2 {
        border:none;
        padding: 0px !important;
        height: max-content !important;
      }


  
      .card::after {
        position: absolute;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
  
      .card-text2{
        font-size: 14px;
      }

      .card:hover {
  
  
        transform: scale(1.02, 1.02);
        -webkit-transform: scale(1.02, 1.02);
        backface-visibility: hidden; 
        will-change: transform;
        box-shadow: 0 1rem 3rem rgba(104, 104, 104, 0.75) !important;
      }
  
      .card:hover::after {
        opacity: 1;
      }

      .set_width{
        width: 100%;
        height: 250px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.281);
        border: 1px solid grey;
        border-radius: 8px;
      }
  
      .card:hover .btn-outline-primary{
        color:white;
        background:#007bff;
      }

      .show_box{
        box-shadow: inset 0px 0px 5px 0px #f5f5f5;
      }